<!DOCTYPE html>
  <body>
    <h1>List of Accounts</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
      </tr>
    <% accounts.forEach((account) => { %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.email %></td>
        <td>
          <form name="deleteAccount" method="POST" 
                action="/accounts/<%= account.id %>/delete">
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
    <% }) %>
    </table>

    <h2>Create Account</h2>
    <form name="createAccount" method="POST" action="/accounts/create">
      <label for="accountEmail">Email</label>
      <input type="text" name="email" />
      <input type="submit" value="Save" />
    </form>
  </body>
</html>
